.about {
    &__text {
        padding-top: 20px;
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        margin-top: 76px;
        background: url(../img/about/woman.jpg) 50% 100% no-repeat;
        background-size: cover;
        &--inner {
            display: flex;
        }
        &__item {
            margin: 0 15px;
            list-style: none;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            list-style: none;
        }
        &__introduction {
            padding-bottom: 80px;
        }
        &__info {
            max-width: 645px;
            &__text {
                margin-bottom: 23px;
                font: 400 14px/28px 'Open Sans';
            }
        }
    }
}

@media (max-width: 639px) {
    .about {
        &__content {
            flex-direction: column;
            &__introduction {
                padding: 30px;
            }
        }
        &__box {
            height: 250px;
            margin-top: 35px;
            &--inner {
                width: 100%;
                flex-direction: column;
            }
            &__item {
                margin-bottom: 10px;
            }
        }
    }
}
