.about{
	&--text{
		padding-top: 20px;
	}
	&__box{
		display: flex;
    	align-items: center;
    	justify-content: center;
		height: 400px;
		margin-top: 76px;
		background: url(../img/about/woman.jpg) 50% 100% no-repeat;
    	background-size: cover;
    	&--inner{
    		display: flex;
    		
    	}
    	&__item{
    		margin: 0 15px;
    		list-style: none;
    	}
	}
}
.about__content{
	display: flex;
	align-items: center;
    justify-content: space-between;
	li{
		list-style: none;
	}
	&__introduction{
		padding-bottom: 80px;
		&--title{
			font: 800 30px/24px 'Raleway';
			letter-spacing: 0.075em;
			text-transform: uppercase;
		}
		&--subtitle{
			font: 400 italic 16px/30px 'Lora';
		}

	}
	&__info{
		max-width: 645px;
		&--text{
			margin-bottom: 23px;
			font: 400 14px/28px 'Open Sans';
		}
	}

}


@media (max-width: 639px){
	.about{
		&__content{
			flex-direction: column;
			&__introduction{
				padding: 30px;
			}
		}
	}
}