.services,
.offers {
    background: #eaeff3;
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px;
        &__item {
            position: relative;
            display: flex;
            max-width: 50%;
            list-style: none;
            &:nth-child(odd) {
                padding-right: 14px;
            }
            &:nth-child(even) {
                padding-left: 14px;
            }
            &--title {
                padding: 10px 0;
                font: 800 16px/24px 'Raleway';
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            &--text {
                font: 400 16px/28px 'Open Sans';
                padding-bottom: 60px;
            }
            &:hover {
                .services__list--icon {
                    color: #68bcfc;
                }
                &:before {
                    position: absolute;
                    left: 15%;
                    content: '';
                    width: 10px;
                    height: 2px;
                    background: #68bcfc;
                }
            }
        }
        &--icon {
            font-size: 55px;
            padding-right: 30px;
        }
        [class*=" icon-"]:before {
            margin: 0;
        }
    }
}

@media (max-width: 639px) {
    .services,
    .offers {
        >.inner {
            justify-content: center;
        }
        &__list {
            flex-direction: column;
            padding-top: 30px;
            &__item {
                max-width: 100%;
                &:nth-child(odd) {
                    padding-right: 0;
                }
                &:nth-child(even) {
                    padding-left: 0;
                }
            }
        }
    }
}
