/* footer styles */

.footer{
	height: 435px;
	padding-top: 80px;
	background: #2a2b2c;
	color: #7b7b7c;
	&__list{
		display: flex;
		&--title{
			font: 700 18px/24px 'Raleway';
			text-transform: uppercase;
			color: $color_white;
		}
		&__media{
			width: 390px;
			padding-top: 45px;
			padding: 45px 0 0 15px;
			&--copy{
				font: 400 13px/24px 'Karla';
				letter-spacing: -0.05em;
			}
			&__box{
				display: flex;
				padding-top: 40px;
				&--icon{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 29px;
					height: 29px;
					margin-right: 10px;
					border: 1px solid;
					i{
						color: #7b7b7c;;
					}
				}
			}
		}
		&__navigation{
			width: 293px;
			padding-left: 15px;
		}
		&__contact{
			width: 487px;
			padding: 0 15px;
		}
	}
	li{
		list-style: none;
	}
}
.footer__menu{
	padding-top: 25px;
	&__item{
		&:before{
			content: '\e808';
			font-family: "fontello";
    		font-style: normal;
    		font-weight: normal;
			color: $color_gold;
		}
		&--a{
			padding-left: 20px;
			font: 600 16px/39px 'Open Sans';
			letter-spacing: -0.075em;
			cursor: pointer;
			color: #7b7b7c;
		}
	}
}