/* ==========================================================================
   Forms
   ========================================================================== */

form {
    fieldset {
        margin: 0;
        padding: 0;
        border: 0;
    }
    input,
    select,
    textarea {
        &:focus {
            outline: none;
        }
    }
    *::-ms-clear {
        display: none;
    }
}

textarea {
    resize: none;
}


/* contact form in footer */

.form-contact {
    position: relative;
    width: 100%;
    padding-top: 35px;
    &--name {
        border: 0;
        border-left: 1px solid #7b7b7c;
        border-right: 1px solid #7b7b7c;
    }
    &--email {
        border: 0;
        border-right: 1px solid #7b7b7c;
    }
    &--name,
    &--email {
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 10px 0 0 21px;
        border-top: 1px solid #7b7b7c;
        color: #7b7b7c;
        background: transparent;
    }
    &--message {
        width: 100%;
        height: 97px;
        margin-bottom: 12px;
        padding: 15px 21px;
        border: 1px solid #7b7b7c;
        resize: none;
        color: #7b7b7c;
        background: transparent;
    }
    &--name:focus + label,
    &--email:focus + label,
    &--message:focus + label {
        color: transparent;
        span {
            color: transparent;
        }
    }
    &--label {
        position: absolute;
        padding: 15px 0 0 21px;
        span {
            color: $color-gold;
        }
    }
}

.valid {
    color: transparent;
    span {
        color: transparent;
    }
}

.name-label,
.email-label,
.message-label {
    top: 0;
    left: 0;
}

.basic-data {
    display: flex;
    &__name {
        width: 50%;
        position: relative;
    }
    &__email {
        width: 50%;
        position: relative;
    }
}

.advanced-data {
    position: relative;
}


/* testimonials form */

.form-comments {
    &__data {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        &--name,
        &--email,
        &--phone {
            max-width: 555px;
            height: 45px;
            margin-bottom: 20px;
            padding-left: 25px;
        }
    }
    &--container {
        display: flex;
    }
    &__content {
        margin-left: 30px;
        &--comment {
            width: 555px;
            height: 177px;
            margin-bottom: 20px;
            padding: 20px;
            resize: none;
        }
    }
}

@media (max-width: 639px) {
    .form-comments {
        &--container {
            display: block;
        }
        &__content {
            margin-left: 0;
            &--comment {
                width: 100%;
            }
        }
    }
}

.form-faq {
    width: 100%;
    margin-bottom: 62px;
    text-align: center;
    &--search {
        width: 703px;
        height: 47px;
        border: 0;
        outline: 0;
        padding-left: 28px;
    }
}

@media (max-width: 1000px) {
    .form-faq {
        &--search {
            width: 82%;
        }
    }
}


/* Contact page form */

.contact-page-form,
.blog-page-form {
    background: #eaeff3;
    &--name,
    &--email,
    &--phone,
    &--service {
        width: 100%;
        height: 75px;
        border: 0;
        border-bottom: 1px solid #dfe5ea;
        background: transparent;
    }
    &--message {
        width: 100%;
        height: 295px;
        border: 0;
        margin-bottom: 50px;
        border-bottom: 1px solid #dfe5ea;
        background: transparent;
    }
    .form-contact--label,
    .form-blog--label {
        position: absolute;
        padding: 0;
        left: 0;
        top: 25px;
    }
    input[name^='contact-page-form--']:focus + label,
    select[name^='contact-page-form--']:focus + label,
    textarea[name^='contact-page-form--']:focus + label {
        color: transparent;
        span {
            color: transparent;
        }
    }
    &--name:focus + label,
    &--email:focus + label,
    &--message:focus + label,
    &--service:focus + label,
    &--phone:focus + label {
        color: transparent;
        span {
            color: transparent;
        }
    }
}

.message-box {
    position: relative;
    padding-top: 30px;
    .form-contact--label {
        position: absolute;
        top: 50px;
    }
}

.input-box {
    position: relative;
}

@media (max-width: 639px) {
    .contact-page-form--message,
    .blog-page-form--message js-label-hide {
        height: 230px;
    }
}
