/* clients section */

.clients {
    >.inner {
        display: flex;
        flex-direction: column;
    }
    &--subtitle {
        padding-bottom: 10px;
    }
}

.testimonials {
    display: flex;
    justify-content: space-between;
    &__item {
        &--text {
            font: 400 14px/28px 'Open Sans';
        }
    }
    &__item1,
    &__item2,
    &__item3 {
        list-style: none;
        max-width: 330px;
        padding-top: 30px;
        color: #585858;
    }
    &__item1 {
        background: url(../img/Home/quote1.png) no-repeat;
    }
    &__item2 {
        background: url(../img/Home/quote2.png) no-repeat;
    }
    &__item3 {
        background: url(../img/Home/quote3.png) no-repeat;
    }
}

.person {
    display: flex;
    padding-top: 40px;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 29px;
        &--name {
            font: 800 14px/24px 'Raleway';
        }
        &--position {
            font: 400 14px/24px 'Raleway';
            color: #585858;
        }
    }
}


/* news section */

.news {
    background: #eaeff3;
    >.inner {
        display: flex;
        flex-direction: column;
    }
    &__top {
        margin-bottom: 40px;
    }
    &--container {
        display: flex;
    }
    &__main {
        display: flex;
        width: 50%;
        padding-right: 15px;
    }
    &__aside {
        width: 68px;
        margin-right: 30px;
        text-align: right;
        &__item {
            &--day {
                font: 700 30px/18px 'Open Sans';
                padding-bottom: 8px;
            }
            &--rest,
            &--comments,
            &--view {
                font: 400 14px/18px 'Open Sans';
            }
        }
        &__item1 {
            height: 61px;
        }
        &__item2,
        &__item3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                font-size: 25px;
            }
        }
        &__item2 {
            height: 84px;
        }
        &__item3 {
            height: 76px;
        }
        li {
            list-style: none;
            background: linear-gradient(to right, black 20%, gold 21%) bottom right / 100% 1px no-repeat;
        }
    }
    &__blog--content {
        padding-right: 59px;
    }
    &__post {
        flex: 1 1;
        .img--inner {
            margin-bottom: 36px;
        }
    }
    &__blog {
        :last-child {
            border-bottom: 0;
        }
        &--item {
            padding-bottom: 30px;
            margin-bottom: 24px;
            border-bottom: 1px solid;
            list-style: none;
        }
        &--title {
            font: 900 16px/24px 'Raleway';
            letter-spacing: 0.1em;
            padding-bottom: 10px;
        }
        &--content {
            font: 400 14px/28px 'Open Sans';
            color: #585858;
        }
        &--date {
            padding-bottom: 15px;
            font: 400 12px/18px 'Open Sans';
            color: $color_gold;
        }
    }
}

.blog-wrapper {
    width: 50%;
    padding-left: 35px;
}


/* partners section */

@media (max-width: 1000px) {
    /* news section*/
    .news {
        &__aside {
            display: none;
        }
        &__blog {
            &--content {
                padding-right: 0;
            }
        }
    }
    .blog-wrapper {
        padding-left: 0px;
    }
}

@media (max-width: 639px) {
    .client {
        >.inner {
            flex-direction: column;
        }
    }
    .testimonials {
        flex-direction: column;
        &__item1,
        &__item2,
        &__item3 {
            margin: 0 auto;
            padding-bottom: 30px;
        }
    }
    .news {
        &--container {
            flex-direction: column;
        }
        &__main {
            width: 100%;
            padding-right: 0px;
        }
    }
    .blog-wrapper {
        width: 100%;
    }
}
