/* about section*/

.about__content{
	display: flex;
	align-items: center;
    justify-content: space-between;
	height: 350px;
	li{
		list-style: none;
	}
	&__introduction{
		padding-bottom: 80px;
		&--title{
			font: 800 30px/24px 'Raleway';
			letter-spacing: 0.075em;
			text-transform: uppercase;
		}
		&--subtitle{
			font: 400 italic 16px/30px 'Lora';
		}

	}
	&__info{
		max-width: 645px;
		&--text{
			margin-bottom: 23px;
			font: 400 14px/28px 'Open Sans';
		}
	}
}


/*services section */


.services{
	height: 670px;
	background: #eaeff3;
	>.inner{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
		&__item{
			position: relative;
		    display: flex;
		    max-width: 50%;
			list-style: none;
			&:nth-child(odd){
				padding-right: 14px;
			}
			&:nth-child(even){
				padding-left: 14px;
			}
			&--title{
				padding: 10px 0;
				font: 800 16px/24px 'Raleway';
				letter-spacing: 0.1em;
				text-transform: uppercase;
			}
			&--text{
				font: 400 16px/28px 'Open Sans';
				padding-bottom: 60px;
			}
			&:hover{
				.services__list--icon{
					color: #68bcfc;
				}
				&:before{
					position: absolute;
					left: 15%;
					content: '';
					width: 10px;
					height: 2px;
					background: #68bcfc;
				}
			}

		}
		&--icon{
			font-size: 55px;
    		padding-right: 30px;

		}
		[class*=" icon-"]:before {
			margin: 0;
		}
	}
	
}

/* clients section */

.clients{
	height: 585px;
	>.inner{
		display: flex;
   		flex-direction: column;
   		justify-content: center;
	}
	&--subtitle{
		padding-bottom: 10px;
	}
}
.testimonials{
	display: flex;
    justify-content: space-between;
    &__item{
    	&--text{
    		font: 400 14px/28px 'Open Sans';
    	}
    }
    &__item1, &__item2, &__item3{
    	list-style: none;
    	max-width: 330px;
    	padding-top: 30px;
    	color: #585858;
    }
    &__item1{
    	background: url(/static/img/Home/quote1.png) no-repeat;
    }
    &__item2{
    	background: url(/static/img/Home/quote2.png) no-repeat;
    }
    &__item3{
    	background: url(/static/img/Home/quote3.png) no-repeat;
    }
}
.person{
	display: flex;
	padding-top: 40px;
	&__content{
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	padding-left: 29px;
    	&--name{
    		font: 800 14px/24px 'Raleway';
    		
    	}
    	&--position{
    		font: 400 14px/24px 'Raleway';
    		color: #585858;
    	}
	}
}


/* news section */

.news{
	height: 715px;
	background: #eaeff3;
	>.inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__top{
		margin-bottom: 40px;
	}
	&--container{
		display: flex;
	}
	&__main{
		display: flex;
    	width: 50%;
    	padding-right: 15px;
	}
	&__aside{
		width: 68px;
    	margin-right: 30px;
    	text-align: right;
    	&__item{
    		&--day{
    			font: 700 30px/18px 'Open Sans';
    			padding-bottom: 8px;
    		}
    		&--rest, &--comments, &--view{
    			font: 400 14px/18px 'Open Sans';
    		}
    	}
    	&__item1{
    		height: 61px;
    	}
    	&__item2, &__item3{
    		display: flex;
    		flex-direction: column;
    		justify-content: center;
    		span{
    			font-size: 25px;
    		}
    	}
    	&__item2{
    		height: 84px;
    	}
    	&__item3{
    		height: 76px;
    	}
    	li{
    		list-style: none;
    		background: linear-gradient(to right, black 20%, gold 21%) bottom right / 100% 1px no-repeat;
    	}
	}
	&__post{
		flex: 1 1;
		.img--inner{
			margin-bottom: 36px;
		}
		.news__blog--content{
			padding-right: 59px;
		}

	}
	&__blog{
		width: 50%;
    	padding-left: 35px;
    	&--inner{
    		:last-child{
    			border-bottom: 0;
    		}
    	}
    	
    	&--item{
    		padding-bottom: 30px;
    		margin-bottom: 24px;
    		border-bottom: 1px solid;
    		list-style: none;

    	}
    	&--title{
    		font: 900 16px/24px 'Raleway';
      		letter-spacing: 0.1em;
      		padding-bottom: 10px;
    	}
    	&--content{
    		font: 400 14px/28px 'Open Sans';
    		color: #585858;
    	}
    	&--date{
    		padding-bottom: 15px;
    		font: 400 12px/18px 'Open Sans';
    		color: $color_gold;
    	}
	}
}


/* partners section */

.partners{
	height: 460px;
	>.inner{
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}
	&--subtitle{
		padding-bottom: 40px;
	}
	&__slider{
		display: flex;
    	justify-content: space-between;
    	padding-bottom: 40px;
    	&__box{
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		width: 165px;
    		height: 128px;
    		border: 1px solid;
    	}
	}
}