/* ==========================================================================
   Layouts
   ========================================================================== */

   *{
   	margin: 0;
   	padding: 0;
   	box-sizing: border-box;
   }
   .inner{
   	width: 1170px;
   	margin: 0 auto;
      padding: 0 15px;
   	height: 100%;
   }
   .img--inner{
      max-width: 100%;
      img{
         display: block;
         max-width: 100%;
         max-height: 100%;
      }
   }
   .shead{
      font: 800 30px/24px 'Raleway';
      letter-spacing: 0.075em;
      text-transform: uppercase;
   }
   .sbhead{
      font: 400 italic 16px/30px 'Lora';
   }
   .triangle{
      position: relative;
      &:after{
         position: absolute;
         content: '';
         border-bottom: 70px solid #ffaf36;
         border-right: 67.5px solid transparent;
         border-left: 67.5px solid transparent;
         bottom: 0px;
         right: 15px;
      }
      &:before{
         position: absolute;
         content: '';
         border-bottom: 100px solid #36a8ff;
         border-right: 80px solid transparent;
         border-left: 80px solid transparent;
         bottom: 0px;
         right: 5.7%;
      }
   }