/* ==========================================================================
   Layouts
   ========================================================================== */

   *{
   	margin: 0;
   	padding: 0;
   	box-sizing: border-box;
   }
   .inner{
   	width: 1170px;
   	margin: 0 auto;
   	height: 100%;
   }
   .img--inner{
      max-width: 100%;
   img{
      display: block;
      max-width: 100%;
      max-height: 100%;
   }

}